ul{
  padding:0;
  margin:0
}
li{
  list-style-type: none;
  padding-left: 0;
}

Select{
  color: black;
}

.character-selects{
  width: 50%
}

.title{
  font-size: 18px;
  font-weight: bold
}
.list-item-label{
  font-weight:bold;
  margin-left: 25px

}
.list-item{
 margin-left: 50px
}
.characterImages{
  height: 20px;
  width: 20px;
}

/* unvisited link */
a:link {
    color: white;
    font-size: 20px;
    /* font-weight: bolder; */
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: lightskyblue;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }